$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Space out content a bit */
body {
  background-color: #383838;
  padding-bottom: 20px;
}

h1,h2,h3 {
  font-weight: 200;
}

.container {
  margin-top: 0;
}

.viz {
  margin: 0 auto;
  width: 100%;
  background-color: #eeeeee;
  padding-top: 1em;
  padding-bottom: 1em;
}

.d3view {
  width: 700px;
  height: 700px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.d3treeview {
  width: 800px;
  height: 2700px;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  background-color: #383838;
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  padding-top: 15px;
  margin-bottom: 0 !important;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  color: #eeeeee;
  font-size: 3em;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


// For force layout

.node {
  stroke: #1987E5;
  fill-opacity:0.1;
  stroke-opacity:0.5;
  fill: white;
  stroke-width: 2.5px;
}

.node text {
  stroke-width: 1px;
  stroke-opacity: 1.0;
  stroke: #383838;
  pointer-events: none;
  font-size: 14px;
}


line.link {
  fill: none;
  stroke: #c1c1c1;
}

path.link {
  fill: none;
  stroke: #a0a0a0;
  stroke-width: 1.5px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
